.msgBox{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  padding: 20px 20%;
  border-radius: 5px;
}

.solutionsWrapper{
  padding: 10px 12%;
  margin-bottom: 80px;
}
