.controlBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* .btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  padding: 10px 0;
} */

.themeSelectorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.navBtnsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.closeBtnContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 30%;
}

.controlBarContainer button {
  width: 72px;
  height: 40px;
  color: white;
  border-style: none;
  border-radius: 5px;
}

.controlBarContainer button:hover {
  opacity: 0.85;
  cursor: pointer;
  border: 1px solid #75a3a3;
}

.controlBarContainer button:disabled {
  opacity: 0.5;
  cursor: default;
}

.prevBtn {
  background-color: #00b33c;
}

.nextBtn {
  background-color: #00b33c;
  margin-left: 20px;
}

.closeBtn {
  background-color: #ff1a1a;
  margin-right: 10px;
}

.logo {
  width: 60%;
  height: 60%;
  color: white
}

/* ---------- Media Queries ---------- */

@media screen and (max-width: 992px) {
  .btnContainer {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .btnContainer {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .btnContainer {
    width: 50%;
  }
}