.searchBarContainer{
  color: #cccccc;
  width: 600px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px 30%;
  border-radius: 10px;
}

.searchBarContainer input{
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px 0px 0px 10px;
}

.searchBarContainer button{
  background-color: #f2690d;
  color: white;
  padding: 10px 40px;
  border: none;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0px 10px 10px 0px;
}
