.statBoxContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ---------- Media Queries ---------- */

/* @media screen and (max-width: 768px) {
  .statBoxContainer{
    flex-direction: column;
  }
} */