.solutionContainer{
  border-style: solid;
  border-color: black;
  border-width: 4px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.methodContainerAccepted{
  background-color: #00b359; 
  color: white;
  text-align: center;
  padding: 7px 5px;
  margin: 0;
  justify-content: center;
  border-radius: 5px;
}

.methodContainerNotAccepted{
  background-color:	#fb5151;
  color: white;
  text-align: center;
  padding: 7px 5px;
  margin: 0;
  justify-content: center;
  border-radius: 5px;
}

.codeContainer{
  max-height: 550px;
}