.labelContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.labelContainer label{
  color: white;
  font-size: 20px;
}

.selectContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.selectContainer select{
  background-color: #333333;
  color: white;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
  padding-right: 7px;
}

.selectContainer select:hover{
  opacity: 0.85;
  cursor: pointer;
}